![Ironhack logo](https://i.imgur.com/1QgrNNw.png)

# Lab | List Comprehensions

## Introduction

As you have learned list comprehensions allow you to efficiently perform iteration, storage, and even filtering based on conditional statements. List comprehensions are useful for a variety of things, so it is critical that you get sufficient practice and become skilled at identifying when to use them.

In this lab, you will practice constructing list comprehensions and using them to extract and filter information in a variety of scenarios. You will work on your own but remember the teaching staff is at your service whenever you encounter problems.

## Getting Started

There are a bunch of questions to be solved. If you get stuck in one exercise you can skip to the next one. Read each instruction carefully and provide your answer beneath it.


## Resources

- [List Comprehensions | Python Documentation](https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions)

# List Comprehensions

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In this Lab we're going to use the module **OS**, which allows us to operate OS tasks, like reading directories or change the name of files.

In [1]:
import os

#### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.
Expected output:
```python
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
```

In [2]:
print([i for i in range(1,51)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

#### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.
Expected output:
```python
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]
```

In [3]:
#Method 1
print([i + 1 for i in range(1,201,2)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

In [4]:
#Method 2
print([i for i in range(1,201) if i % 2 == 0])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

#### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 array below.

In [5]:
a = [[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]];

Expected output:
```python
[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]
```

In [6]:
print([item 
        for row in a 
        for item in row ])

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

#### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.
Expected output:
```python
[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]
```

In [7]:
print([item 
        for row in a 
        for item in row if item >= 0.5])

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

#### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 array below.

In [8]:
b = [[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]];

Expected output:
```python
[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]
```

In [9]:
print([third 
       for first in b 
       for second in first 
       for third in second])

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

#### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.
Expected output:
```python
[0.08147297, 0.06833034, 0.30296619, 0.45850679, 0.11434044, 0.10708681, 0.47984544, 0.23760688]
```

In [10]:
print([second[-1] 
       for first in b 
       for second in first 
       if second[-1] <= 0.5 ])

[0.08147297, 0.06833034, 0.30296619, 0.45850679, 0.11434044, 0.10708681, 0.47984544, 0.23760688]

#### 7. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

**Expected output:**
```python
['sample_file_0.csv', 'sample_file_1.csv', ..., 'sample_file_9.csv']
```

**Hint:**

Utilize [os.listdir](https://docs.python.org/3/library/os.html) to read the files of directory

In [11]:
file_list = [f for f in os.listdir('./data') if f.endswith('.csv')]
print(file_list)

['sample_file_0.csv', 'sample_file_1.csv', 'sample_file_2.csv', 'sample_file_3.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_6.csv', 'sample_file_7.csv', 'sample_file_8.csv', 'sample_file_9.csv']

# Bonus

Try to solve these katas (training drill) using list comprehensions.

8. Given a set of numbers, return the additive inverse of each. Each positive becomes negatives, and the negatives become positives.
https://www.codewars.com/kata/invert-values

"""
Examples:

invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []

"""

In [12]:
number_test = [1,2,3,4,5]
number_test2 = [1,-2,3,-4,5]

In [13]:
print([number*(-1) for number in number_test])
print([number*(-1) for number in number_test2])

[-1, -2, -3, -4, -5]
[-1, 2, -3, 4, -5]

9. Given a non-negative integer, return an array / a list of the individual digits in order.
https://www.codewars.com/kata/digitize

***Examples:***

- `123 => [1,2,3]`

- `1 => [1]`

- `8675309 => [8,6,7,5,3,0,9]`

In [14]:
item_comp = 123405

In [15]:
list_of_values = [int(item) for item in str(item_comp) ]
list_of_values.sort()

In [16]:
list_of_values

[0, 1, 2, 3, 4, 5]

10. In this kata you will create a list comprehension that filters a list of non-negative integers and strings and returns a list with the strings filtered out.
https://www.codewars.com/kata/list-filtering

***Example:***

`[1,2,'a','b'] => [1,2]`

In [17]:
filter_list = [1,2,'a','b']

In [18]:
print([item for item in [1,2,'a','b'] if type(item) == int])
print([item for item in [1,'a','b',0,15] if type(item) == int])
print([item for item in [1,2,'aasf','1','123',123] if type(item) == int])

[1, 2]
[1, 0, 15]
[1, 2, 123]

11. If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Finish the solution so that it returns the sum of all the multiples of 3 or 5 below the number passed in. 
https://www.codewars.com/kata/514b92a657cdc65150000006

In [19]:
number = 10

In [20]:
sum([item for item in range(number) if ((item % 3 == 0)|(item % 5 == 0))])

23

12. The Western Suburbs Croquet Club has two categories of membership, Senior and Open. They would like your help with an application form that will tell prospective members which category they will be placed.
To be a senior, a member must be at least 55 years old and have a handicap greater than 7. In this croquet club, handicaps range from -2 to +26; the better the player the lower the handicap.

https://www.codewars.com/kata/5502c9e7b3216ec63c0001aa

Example:
- input: `[[18, 20],[45, 2],[61, 12],[37, 6],[21, 21],[78, 9]]`
- output:`["Open", "Open", "Senior", "Open", "Open", "Senior"]`

In [22]:
player_list = [[18, 20],[45, 2],[61, 12],[37, 6],[21, 21],[78, 9]]

['Senior' if ((item[0] >= 55) & (item[1] > 7)) else 'Open' for item in player_list]

['Open', 'Open', 'Senior', 'Open', 'Open', 'Senior']

"""
Examples:

filter_list([1,2,'a','b']) == [1,2]
filter_list([1,'a','b',0,15]) == [1,0,15]
filter_list([1,2,'aasf','1','123',123]) == [1,2,123]
"""