# Lab | Lambda functions

## Introduction

Lambda functions are also called anonymous functions. This means that they are functions without a name. Lambda functions are typically short expressions. They can take multiple arguments but unlike functions, they can only have one expression.

In this lab, you will explore a number of scenarios where lambda functions are a good tool for the job.

## Let's start simple
- We will provide some `def functions` to you transform to a `lambda functions`

#### def function example
```python
number = 10
def sum_four(x):
    return x+4
sum_four(number)
_________________
output:
14
```

#### lambda function example
```python
number = 10
(lambda x : x+4)(number)
_________________
output:
14
```

## String, int and float

- Replace the `square_root` function to a `lambda function`

In [1]:
number = 100

In [2]:
def square_root(x):
    return x**0.5
square_root(number)

10.0

In [3]:
# Your code here
(lambda x: x**0.5)(100)

10.0

- Replace the `upper_string` function to a `lambda function`

In [4]:
phrase1 = 'Veronica, Allan, Lina'

In [5]:
def upper_string(x):
    return x.upper()
upper_string(phrase1)

'VERONICA, ALLAN, LINA'

In [5]:
# Your code here
(lambda x: x.upper())(phrase1)

'VERONICA, ALLAN, LINA'

- Replace the `split_lower` function to a `lambda function`

In [8]:
phrase2  = 'This is Not a Fruit List'

In [8]:
def split_lower(x):
    x = x.lower()
    x = x.split(' ')
    return x
split_lower(phrase2)

['this', 'is', 'not', 'a', 'fruit', 'list']

In [11]:
# Your code here
(lambda x: x.lower().split(' '))(phrase2)

['this', 'is', 'not', 'a', 'fruit', 'list']

## Lists
#### def function example
```python
num_list = [10,20,30,40,50]

def raise_two(x):
    x = x**2
    return x

list(map(raise_two,num_list))
_______________________________
output:
[100, 400, 900, 1600, 2500]
```

#### lambda functions example
```python
list(map(lambda x: x**2, num_list))
_______________________________
output:
[100, 400, 900, 1600, 2500]
```

### lambda and map

- Replace the `raise_two` function to a `lambda function`

In [12]:
num_list1 = [10,20,30,40,50]

In [13]:
def raise_two(x):
    return x**2

In [12]:
list(map(raise_two, num_list1))

[100, 400, 900, 1600, 2500]

In [16]:
# Your code here
lambdar2 = (lambda x: x**2)
list(map(lambdar2, num_list1))

[100, 400, 900, 1600, 2500]

- Replace the `celsius_to_fahrenheit` function to a `lambda function`

In [19]:
temperature = [22,30,10,-1,12]

In [18]:
def celsius_to_fahrenheit(celsius):
    return (celsius *1.8) + 32

In [16]:
list(map(celsius_to_fahrenheit, temperature))

[71.6, 86.0, 50.0, 30.2, 53.6]

In [20]:
# Your code here
lambdaconvert = (lambda x: (x*1.8)+32)
list(map(lambdaconvert, temperature))

[71.6, 86.0, 50.0, 30.2, 53.6]

### lambda and filter

- Replace the `even_number` function to a `lambda function`

In [21]:
num_list2 = [1,2,3,4,5,6,7,8,9,10]

In [19]:
def even_number(x):
    if (x % 2) == 0:
        return x

In [20]:
list(filter(even_number,num_list2))

[2, 4, 6, 8, 10]

In [24]:
# Your code here
lambdaimpar = (lambda x: x if x % 2 == 0 else None)
list(filter(lambdaimpar, num_list2))

[2, 4, 6, 8, 10]

- Replace the `filter_csv` function to a `lambda function`

In [25]:
file_list = ['fruits.csv','poem.txt','citeis.csv','report.doc']

In [23]:
def filter_csv(x):
    if x.endswith('.csv'):
        return x

In [24]:
list(filter(filter_csv, file_list))

['fruits.csv', 'citeis.csv']

In [27]:
# Your code here
lambdacsv = (lambda x: x if x.endswith('.csv') else None)
list(filter(lambdacsv, file_list))

['fruits.csv', 'citeis.csv']

## DataFrames

- Import the `movies_imdb.csv` dataframe

In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('data/movies_imdb.csv')
df

,star_rating,title,content_rating,duration
0,9.3,The Shawshank Redemption,R,142
1,9.2,The Godfather,R,175
2,9.1,The Godfather: Part II,R,200
3,9.0,The Dark Knight,PG-13,152
4,8.9,Pulp Fiction,R,154
5,8.9,12 Angry Men,NOT RATED,96
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,161
7,8.9,The Lord of the Rings: The Return of the King,PG-13,201
8,8.9,Schindler's List,R,195
9,8.9,Fight Club,R,139
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,178
11,8.8,Inception,PG-13,148
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,124
13,8.8,Forrest Gump,PG-13,142
14,8.8,The Lord of the Rings: The Two Towers,PG-13,179
15,8.7,Interstellar,PG-13,169
16,8.7,One Flew Over the Cuckoo's Nest,R,133
17,8.7,Seven Samurai,UNRATED,207
18,8.7,Goodfellas,R,146
19,8.7,Star Wars,PG,121

- You can use `lambda function` on a column with the command `.apply`

In [28]:
# example
df['duration_60'] = df['duration'].apply(lambda x : x/60)
df

,star_rating,title,content_rating,duration,duration_60
0,9.3,The Shawshank Redemption,R,142,2.366667
1,9.2,The Godfather,R,175,2.916667
2,9.1,The Godfather: Part II,R,200,3.333333
3,9.0,The Dark Knight,PG-13,152,2.533333
4,8.9,Pulp Fiction,R,154,2.566667
5,8.9,12 Angry Men,NOT RATED,96,1.600000
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,161,2.683333
7,8.9,The Lord of the Rings: The Return of the King,PG-13,201,3.350000
8,8.9,Schindler's List,R,195,3.250000
9,8.9,Fight Club,R,139,2.316667
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,178,2.966667
11,8.8,Inception,PG-13,148,2.466667
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,124,2.066667
13,8.8,Forrest Gump,PG-13,142,2.366667
14,8.8,The Lord of the Rings: The Two Towers,PG-13,179,2.983333
15,8.7,Interstellar,PG-13,169,2.816667
16,8.7,One Flew Over the Cuckoo's Nest,R,133,2.216667
17,8.7,Seven Samurai,UNRATED,207,3.450000
18,8.7,Goodfellas,R,146,2.433333
19,8.7,Star Wars,PG,121,2.016667

- Transform the rating from `0-10` scale to `0-5` scale.
- Use `star_rating` column.

In [30]:
# Your code here

df['star_rating'] = df['star_rating'].apply(lambda x: x/2)
df

,star_rating,title,content_rating,duration
0,4.65,The Shawshank Redemption,R,142
1,4.60,The Godfather,R,175
2,4.55,The Godfather: Part II,R,200
3,4.50,The Dark Knight,PG-13,152
4,4.45,Pulp Fiction,R,154
5,4.45,12 Angry Men,NOT RATED,96
6,4.45,"The Good, the Bad and the Ugly",NOT RATED,161
7,4.45,The Lord of the Rings: The Return of the King,PG-13,201
8,4.45,Schindler's List,R,195
9,4.45,Fight Club,R,139
10,4.40,The Lord of the Rings: The Fellowship of the Ring,PG-13,178
11,4.40,Inception,PG-13,148
12,4.40,Star Wars: Episode V - The Empire Strikes Back,PG,124
13,4.40,Forrest Gump,PG-13,142
14,4.40,The Lord of the Rings: The Two Towers,PG-13,179
15,4.35,Interstellar,PG-13,169
16,4.35,One Flew Over the Cuckoo's Nest,R,133
17,4.35,Seven Samurai,UNRATED,207
18,4.35,Goodfellas,R,146
19,4.35,Star Wars,PG,121

- Transform all the title to `lowercase`.
- Use `title` column.

In [36]:
# Your code here

df['title'] = df['title'].apply(lambda x: x.lower())
df

,star_rating,title,content_rating,duration
0,4.65,the shawshank redemption,R,142
1,4.60,the godfather,R,175
2,4.55,the godfather: part ii,R,200
3,4.50,the dark knight,PG-13,152
4,4.45,pulp fiction,R,154
5,4.45,12 angry men,NOT RATED,96
6,4.45,"the good, the bad and the ugly",NOT RATED,161
7,4.45,the lord of the rings: the return of the king,PG-13,201
8,4.45,schindler's list,R,195
9,4.45,fight club,R,139
10,4.40,the lord of the rings: the fellowship of the ring,PG-13,178
11,4.40,inception,PG-13,148
12,4.40,star wars: episode v - the empire strikes back,PG,124
13,4.40,forrest gump,PG-13,142
14,4.40,the lord of the rings: the two towers,PG-13,179
15,4.35,interstellar,PG-13,169
16,4.35,one flew over the cuckoo's nest,R,133
17,4.35,seven samurai,UNRATED,207
18,4.35,goodfellas,R,146
19,4.35,star wars,PG,121

- Using the column `content_rating`, transform the `R` values to `RESTRICTED`

In [39]:
# Your code here
df['content_rating'] = df['content_rating'].apply(lambda x: 'RESTRICTED' if x == 'R' else x)
df

,star_rating,title,content_rating,duration
0,4.65,the shawshank redemption,RESTRICTED,142
1,4.60,the godfather,RESTRICTED,175
2,4.55,the godfather: part ii,RESTRICTED,200
3,4.50,the dark knight,PG-13,152
4,4.45,pulp fiction,RESTRICTED,154
5,4.45,12 angry men,NOT RATED,96
6,4.45,"the good, the bad and the ugly",NOT RATED,161
7,4.45,the lord of the rings: the return of the king,PG-13,201
8,4.45,schindler's list,RESTRICTED,195
9,4.45,fight club,RESTRICTED,139
10,4.40,the lord of the rings: the fellowship of the ring,PG-13,178
11,4.40,inception,PG-13,148
12,4.40,star wars: episode v - the empire strikes back,PG,124
13,4.40,forrest gump,PG-13,142
14,4.40,the lord of the rings: the two towers,PG-13,179
15,4.35,interstellar,PG-13,169
16,4.35,one flew over the cuckoo's nest,RESTRICTED,133
17,4.35,seven samurai,UNRATED,207
18,4.35,goodfellas,RESTRICTED,146
19,4.35,star wars,PG,121